@{
    ViewData["Title"] = "Seller Panel";
}
<h1>@ViewData["Title"]</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link " asp-controller="Goods" asp-action="Index">Manage Goods</a>
    </li>
</ul>